<div class="box wow fadeInDown">
	<h1>Wir sind Cheerful to Cloudy</h1>
	<h2>Indie Pop aus Ulm</h2>
</div>

<div class="box smallfloater">
	Die starke Stimme von Sängerin Marisa, die durch raue, gleichzeitig zurückhaltende Rockklänge dringt, während sie die ersten Zeilen eines Songs anstimmt - das ist die Musik von Cheerful to Cloudy, einer Band, bei der man sich wundert, dass sie noch nicht groß aus Ulm herausgekommen ist. Glaubt uns, das wird sie noch!
- Artikel aus der SpaZz, August 2013
</div>

<div class="box small floater band">
	<h3>Mari - Gesang</h3>
	<img src="http://ctc-band.com/img/band/mari2.png">
</div>
<div class="box small floater">
	<img src="http://ctc-band.com/img/band/willi2.png">
</div>
<div class="box small floater">
	<img src="http://ctc-band.com/img/band/rob2.png">
</div>
<div class="box small floater">
	<img src="http://ctc-band.com/img/band/tobi2.png">
</div>
<div class="box small floater">
	<img src="http://ctc-band.com/img/band/mari2.png">
</div>
<div class="clear"></div>