<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="de" ng-app="ctcBand" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="de" ng-app="ctcBand" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="de" ng-app="ctcBand" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="de" ng-app="ctcBand" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cheerful To Cloudy &middot; </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=1200, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="bower_components/Font-Awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="public/style/main.css">
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <header ng-controller="HeaderCtrl">
    <ul data-wow-duration="1s" data-wow-delay="1s">
      <li><a href="#/home">Cheerful To Cloudy</a></li>
      <li><a href="#/home">News</a></li>
      <li><a href="#/band">Band</a></li>
      <li><a href="#/musik">Media</a></li>
      <li><a href="#/kontakt">Kontakt</a></li>
    </ul>  
    
  </header>

  <div class="viewContainer" ng-view></div>

  <footer ng-controller="FooterCtrl">
    <div class="player">
      <a ng-click="play()"><i class="fa fa-play"></i></a>
      <a ng-click="pause()"><i class="fa fa-pause"></i></a>
      <a href=""><i class="fa fa-facebook"></i></a>
      <a href=""><i class="fa fa-youtube"></i></a>
      <a href=""><i class="fa fa-soundcloud"></i></a>
    </div>
  </footer>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="public/js/app.js"></script>
  <script type="text/javascript">
    new WOW().init();
  </script>
</body>
</html>
