.demo-2 .bg-img-1 {
	background-image: url(../images/1.jpg);
}
.demo-2 .bg-img-2 {
	background-image: url(../images/2.jpg);
}
.demo-2 .bg-img-3 {
	background-image: url(../images/3.jpg);
}
.demo-2 .bg-img-4 {
	background-image: url(../images/4.jpg);
}
.demo-2 .bg-img-5 {
	background-image: url(../images/5.jpg);
}